/* Fonts */
/* For context, I am using the SAME styles I used for Project 02. */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: white;
    color: #333;
}

header {
    background-color: #2a6f97;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #d9ed92;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #2a6f97;
    color: white;
    margin-top: 20px;
}

footer a {
    color: #ffdd57;
}
